# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
Debug
Release
*.suo
*.csproj.user
*.vbproj.user
ipch
*sdf
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/doc/html/*.html
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/doc/html/*.html
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/sound/*.exe
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/shader/*.exe
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/ftp/*.exe
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/doc/html/*.png
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/doc/html/*.css
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/opengl
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/doc/html/*.js
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/shader/resources/*.png
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/shader/resources/*.frag
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/ftp/*.cpp
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/pong/*.gitignore
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/pong/*.cpp
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/pong/resources/*.wav
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/pong/resources/*.ttf
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/shader/*.hpp
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/shader/*.cpp
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/shader/resources/*.jpg
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/shader/resources/*.geom
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/shader/resources/*.vert
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/shader/resources/*.ttf
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/sockets/*.cpp
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/sockets/*.exe
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/sound-capture/*.cpp
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/sound-capture/*.exe
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/sound/*.cpp
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/sound/resources/*.wav
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/sound/resources/*.flac
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/sound/resources/*.ogg
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/voip/*.cpp
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/voip/*.exe
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/win32/*.cpp
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/win32/resources/*.jpg
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/win32/*.exe
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/window/*.cpp
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/examples/window/*.exe
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/doc/html/*.hhc
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/doc/html/*.hhk
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/doc/html/*.hhp
/Final/SFML-2.4.2-windows-vc14-32-bit/SFML-2.4.2/doc/*.chm
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/doc/html/*.png
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/doc/html/*.css
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/doc/html/*.js
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/doc/html/*.hhc
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/doc/html/*.hhk
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/doc/html/*.hhp
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/doc/*.chm
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/ftp/*.cpp
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/ftp/*.exe
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/opengl/*.cpp
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/opengl/*.exe
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/opengl/resources/*.jpg
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/opengl/resources/*.ttf
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/pong/*.cpp
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/pong/*.exe
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/pong/resources/*.wav
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/pong/resources/*.ttf
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/shader/*.hpp
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/shader/*.cpp
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/shader/resources/*.jpg
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/shader/resources/*.frag
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/shader/resources/*.geom
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/shader/resources/*.vert
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/shader/resources/*.png
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/shader/resources/*.ttf
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/shader/*.exe
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/sockets/*.cpp
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/sockets/*.exe
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/sound-capture/*.cpp
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/sound-capture/*.exe
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/sound/*.cpp
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/sound/resources/*.wav
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/sound/resources/*.flac
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/sound/resources/*.ogg
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/sound/*.exe
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/voip/*.cpp
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/voip/*.exe
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/win32/*.cpp
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/win32/resources/*.jpg
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/win32/*.exe
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/window/*.cpp
/Final/SFML-2.4.2-windows-vc14-64-bit/SFML-2.4.2/examples/window/*.exe
